@model IEnumerable<SistemaLaboratorio.Models.HistorialAuditoria>

@{
    ViewData["Title"] = "Historial de Auditoría";
}

<h1 class="mb-4">Historial de Auditoría</h1>

<div class="mb-3 d-flex justify-content-end">
    <input type="text" id="buscarInput" class="form-control w-25" placeholder="Buscar historial...">
</div>

<table class="table table-bordered table-striped" id="auditoriaTabla">
    <thead class="table-dark">
        <tr>
            <th>Modelo</th>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th>@Html.DisplayNameFor(model => model.Comentario)</th>
            <th>@Html.DisplayNameFor(model => model.EntidadId)</th>
            <th>@Html.DisplayNameFor(model => model.Accion)</th>
            <th>@Html.DisplayNameFor(model => model.Fecha)</th>
            <th>@Html.DisplayNameFor(model => model.Empleado)</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Actividad)</td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.Comentario)</td>
                <td>@Html.DisplayFor(modelItem => item.EntidadId)</td>
                <td>@Html.DisplayFor(modelItem => item.Accion)</td>
                <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                <td>@Html.DisplayFor(modelItem => item.Empleado.Apellidos)</td>
                
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.getElementById('buscarInput').addEventListener('keyup', function () {
            var valorBusqueda = this.value.toLowerCase();
            var filas = document.querySelectorAll('#auditoriaTabla tbody tr');

            filas.forEach(function (fila) {
                var textoFila = fila.textContent.toLowerCase();
                fila.style.display = textoFila.includes(valorBusqueda) ? '' : 'none';
            });
        });
    </script>
}
